parameters:
    level: 8
    paths: ['src', 'tests']
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm.*#'
        - '#Used function Swoole\\Coroutine\\run not found#'
        - '#Function Swoole\\Coroutine\\run not found.*#'