parameters:
    level: 8
    paths: ['src', 'tests']
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm.*#'